{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Nom_session</th>
                <th>Formateur</th>
                <th>Promotion</th>
                <th>Salle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.dateDebut }}</td>
                <td>{{ session.dateFin }}</td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.formateur }}</td>
                <td>{{ session.promotion }}</td>
                <td>{{ session.salle }}</td>
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}">afficher</a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_new') }}">Ajouter</a>
{% endblock %}
