{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <h1>Promotion </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.nom }}</td>
                <td>
                    <a href="{{ path('app_promotion_show', {'id': promotion.id}) }}" class="button button-outline"><i class="fa-solid fa-eye"></i>voir</a>
                    <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}" class="button"><i class="fa-solid fa-pen-to-square"></i>modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_promotion_new') }}">Ajouter</a>
{% endblock %}
